{
	font-family: 'Helvetica', sans-serif;
    background-color: white;
}

#name{
	display: flex;
	color:black;
	text-align: center;
	margin: 350px;
	margin-left: 41%;
	margin-top: 100px;
}

#caption{
	display: flex;
	color:black;
	text-align: center;
	margin-left: 35%;
	margin-top: -23%;
}

#listitems{
	margin-left: 30%;
}

.box{
	border-style: solid;
	height:70%;
	width:30%;
	margin-bottom:-100%;
}

.smallerbox{
	background-color: #d3d3d3;
	height:20%;
	width: 90%;
	border-style:solid;
	transform: translateY(-25%);
	margin-left: 4%;
	text-align: center;
	margin-top: 5%;

}

.shiftleft{
	position: absolute;
	transform: translateX(6%);
}

.shiftmid{
	position: absolute;
	transform: translateX(113%);
}

.shiftright{
	position: absolute;
	transform: translateX(220%);
}


.centerinbox{
	background-color: transparent;
	font-size: 35px;
	position:relative;
	margin-left: 30%;
}

.textinbox{
	background-color:transparent;
	text-align:center;
}

.smalllogo{
	margin-left:180px;
	text-align: center;
	background-color:transparent;
	width: 5px;
}

.smalllogotext{
	/*text-align:center;*/
	position: relative;
	margin-left:76px;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

button {
	text-transform: scale(20%);
}

.textinboxx{
	transform: translateY(-20%);

}

.topimage{
	height:10px;
	width: 10px;
	margin-top:10px;
}

.black{
	background-color:black;
}

.coral{
	background-color:#FF7F50;
}

.khaki{
	background-color:#F0E68C;
}

.lightgreen{
	background-color: #90EE90;
}